#column_right {
    margin-left: 30px;
    align-items: flex-end;
    width: 350px;
}

#login_area {
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;

}

#login_ment {
    padding-left: 3px;
    color: grey;
}

#login_area #login_btn {
    padding: 15px 0;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.ico_naver {
    display: inline-block;
    width: 60px;
    height: 12px;
    background-position: -138px -330px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 2px 5px 0 0;
}

#timesquare {

    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
}

#timesquare strong:after {
    position: absolute;
    top: 18px;
    left: 29px;
    content: '';
    width: 1px;
    height: 12px;
    background-color: #e4e8eb;
}

#small_ad {
    width: 350px;
    height: 200px;
}

#shop_header {
    width: 350px;
    height: 44px;
}

#shop_header .trend_shopping:before {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -26px -54px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-right: 4px;
    vertical-align: -3px;
}


#shop_header .shop_menu {
    font-weight: bold;
    margin-right: 10px;
}

#shop_header .highlight {
    border-bottom: 2px solid #19ce60;
    color: #03c75a;
}

#shop_content {
    overflow: hidden;
    height: 1763px;
    border: 1px solid #e4e8eb;
}


#shop_content .group_goods {
    position: relative;

}

.shop_control {
    float: right;
    padding-top: 13px;
    padding-right: 8px;
}

.shop_control .num_box {
    float: left;
    line-height: 29px;
    color: grey;
}

.shop_control .btn_box {
    overflow: hidden;
    float: right;
    margin-left: 7px;
}

.shop_control .btn {
    float: left;
    background-color: #fff;
    border: 1px solid #dae1e6;
}

.btn_prev:before {
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -93px -77px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 9px 12px 9px 10px;
}

.btn_next:before {
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -79px -77px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 9px 10px 9px 12px;
}

.shop_control .num_box .now {
    margin-right: 4px;
    color: #202020;
    font-weight: 700;
}

.goods_list {
    margin: 0 auto;
    padding: 55px 8px 20px;
}

.goods_wrap {
    display: flex;
    margin-bottom: 20px;
}

.goods_item {
    position: relative;
    width: 33.33%;
}

.goods_item .goods_title {
    font-weight: bold;
    text-align: center;
}

.goods_item>span {
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 16px;
    text-align: center;
}

.group_mall {
    overflow: hidden;
    padding: 12px 4px 11px 10px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #dae1e6;
}

.group_mall .link_mall {
    float: left;
    line-height: 23px;
    color: #404040;
}


.halfcomma {
    margin: 10px 10px 0;
}

[class^=halfcomma] {
    background-color: #c9cccf;
    display: inline-block;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    float: left;
}

#shop_title {
    position: relative;
    padding-left: 5px;
}

#shop_title #shop_control {
    top: -6px;
}

.event_list {
    margin: 13px 5px 0;
    line-height: 28px;
}

#group_plus {
    position: relative;
    padding: 55px 0 30px;
    margin: 0 8px;
    border-top: 1px solid #e4e8eb;
}



.shop_event_area {
    margin: 0px 8px;
    padding: 19px 0 17px;
    border-top: 1px solid #e4e8eb;
}

.shop_event_area #shop_title {
    position: relative;
    padding-left: 5px;
    display: flex;
    text-align: center;
}

#shop_title .shop_control {
    position: absolute;
    top: -8px;
    right: 0;
    text-align: right;
}

.shop_list {
    padding: 19px 0 17px;
    margin: 0 8px;
    line-height: 28px;
}

.shop_list>ul {
    margin: 13px 5px 0;
    line-height: 28px;
}

.shop_line {
    display: flex;

    line-height: 28px;
}


.shop_list .shop_name {
    color: #000;
    font-weight: 700;
    margin-right: 13px;
}

.shop_list .shop_name:before {
    background-color: #1ace61;
    display: inline-block;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin-right: 8px;
    vertical-align: 2px;
}

#group_plus {
    position: relative;
    overflow: hidden;
    padding: 25px 0 19px;
    margin: 0 8px;
    border-top: 1px solid #e4e8eb;
    border-bottom: 1px solid #e4e8eb;
}

.group_plus_header {
    display: flex;
    margin-bottom: 4px;
}

#group_plus .group_plus_header .group_plus_menu {

    font-size: 13px;
    line-height: 17px;
    letter-spacing: -.5px;
    border-bottom: 2px solid transparent;
}

.group_plus_header .group_plus_menu+.group_plus_menu {
    margin-left: 12px;
}

#group_plus .group_plus_body {
    display: flex;
}

.group_plus_body .group_plus_content {
    margin-right: 5px;
}


.group_plus_body .group_plus_content .group_plus_title {
    text-align: center;
    font-weight: 700;
}


#one_plus_deal {}