#column_left {
    width: 750px;
}

#important_news {

    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
}

#news_title #news_company {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    position: relative;
    max-width: 89px;
    padding-right: 12px;
    margin-right: 7px;
    font-size: 2px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: -.3px;
}


#news_company::after {
    position: absolute;
    top: 7px;
    right: 0;
    display: inline-block;
    width: 6px;
    height: 10px;
    background-position: -444px -380px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
}

#news_menu {
    width: 100%;
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
}

#news_box {

    height: 260px;
    border: 1px solid #dae1e6;
    border-width: 1px 0;

}

.company_box {
    position: relative;
    float: left;
    width: 16.66%;
    height: 65px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 0 0.2px #dae1e6 inset;

}

/*테마캐스트*/
#theme_title {
    padding: 35px 0 27px;
    letter-spacing: -.25px;
}

#description {
    margin-left: 8px;
    color: grey;
}

.btn_set {
    position: relative;
    margin-left: 14px;
    color: #505050;
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -444px -168px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-right: 4px;
    vertical-align: -1px;
    opacity: .7;
}

.theme_menu {
    display: inline-block;
    font-weight: 700;
    width: 12.5%;
    line-height: 49px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 0 0.2px #dae1e6 inset;
}



.theme_menu .ico_middot {
    width: 2px;
    height: 2px;
    display: inline-block;
    margin: 0 2px;
    background-color: rgba(32, 32, 32, .8);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: 4px;
}


.theme_menus .ico_btn_back {
    transform: translate(-18px, 0px);
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -128px -345px;
    background-repeat: no-repeat;
    vertical-align: top;
}

.theme_menus .ico_btn_next {
    transform: translate(-10px, 0px);
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -170px -345px;
    background-repeat: no-repeat;
    vertical-align: top;
}

#theme_post_container {
    position: relative;
    margin-top: 49px;
    padding-top: 4px;

}

#theme_post_container #post_top {
    padding: 18px 0;
    border-bottom: 1px solid #e4e8eb;
}

.explain_video .theme_category {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-weight: 700;
}

.post_three {
    height: 33.3%;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.introduce {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.post_title {
    display: block;
    margin-left: 20px;
    width: 100%;
    font-weight: 700;
}

#theme_post_container #post_top #post_right {
    margin-left: 22px;

}


.theme_link {
    padding: 11px 18px;
    margin-top: -1px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    font-size: 13px;
    font-weight: 700;

}

.theme_item {
    float: left;
}


.video_preview_container {
    padding: 18px 0 17px;
}

.video_preview_container .video_preview_wrap {
    margin: 0 -27px -31px 0;
    overflow: hidden;
}

.video_preview_container .video_preview_wrap .video_area {
    margin: 0 27px 31px 0;
    width: 232px;
    font-size: 12px;
    line-height: 20px;
    vertical-align: top;
    text-decoration: none;


}

.video_preview_container .video_preview_wrap .video_area .video_thumb {
    width: 232px;
    height: 130px;
    overflow: hidden;
    position: relative;
}

.title {
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 13px;
}

.video_area .theme_category {
    margin-bottom: 2px;
    color: #e65da0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-weight: 700;
}

.date:before {
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 5px;
    vertical-align: 3px;
}

/*음악*/
.music_group {
    border-top: 1px solid #e4e8eb;
}

.music_group .chart_view_wrap {
    padding: 3px 0 19px;
    position: relative;
}

.chart_view {
    width: 50%;
    margin-left: 30px;
}

.single_song {
    display: table;
    width: 100%;
    padding: 14px 0;
    table-layout: fixed;
    border-bottom: 1px solid #dae1e6;

}

.info_box {
    display: flex;
    overflow: hidden;
}

.chart_title {
    margin-left: 15px;
}

.title {
    font-weight: bold;
}

.singer {
    overflow: hidden;
}

.chart_num {

    display: table-cell;
    width: 50px;
    padding-top: 7px;
    text-align: center;
    vertical-align: top;
}

.singer .singer_name::after {
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 5px;
    vertical-align: 3px;
}

.chart_link {
    display: flex;
    justify-content: flex-end;
    width: 67px;
    margin-right: 10px;
}

.chart_link .link_play:before {
    display: inline-block;
    width: 11px;
    height: 15px;
    background-position: -444px -65px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 6px;
    margin-right: 10px;
}

.description {
    overflow: hidden;
}

.chart_link .link_lyrics:before {
    display: inline-block;
    width: 17px;
    height: 18px;
    background-position: -420px -306px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 5px;
}



.video_padding {
    padding: 18px 0 17px;
}

.video_view {
    margin: 0 -27px -31px 0;
}

.small_magazine {
    padding: 35px 0 27px;
    letter-spacing: -.25px;
    border-top: 1px solid #e4e8eb;
}

.theme_title {
    padding-top: 24px;
    line-height: 25px;
}

.theme_title:after {
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -444px -304px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 6px;
    vertical-align: 0;
}

.theme_title .magazine_wrap {
    overflow: hidden;
    padding: 17px 0 29px;
}

.poster {
    width: 130px;
    height: 300px;
    margin-right: 25px;


}

.poster>img {
    margin-top: 20px;
    width: 130px;
    height: 130px;
    filter: alpha(opacity=6);


    box-shadow: 1px solid #000;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: grey;
}

.btn_more_wrap {
    position: relative;
    padding-top: 18px;
    margin-bottom: 42px;
    border-bottom: 1px solid #e4e8eb;
}


.btn_more_wrap .btn_more {
    position: absolute;
    top: 0;
    left: 334px;
    background-color: transparent;
    border: 0px;
    color: #505050;
    cursor: pointer;
}

.btn_more_wrap .ico_more {
    width: 42px;
    height: 42px;
    background-position: 0 -345px;
    background-repeat: no-repeat;
    vertical-align: top;
    display: block;
    margin: 0 auto 3px;
}

/*footer*/
footer {

    display: flex;
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}