#container {
  position: relative;
  width: 1130px;
  height: 3068.670px;
  padding: 20px 30px;
  margin: 0 auto;
  letter-spacing: -0.2px;
}

#veta_top {
  position: relative;
}

.column_left {
  float: left;
  width: 750px;
}

.column_right {
  float: right;
  width: 350px;
}

.ad {
  position: relative;
  width: 510px;
  height: 135px;
  border-radius: 0%;
  color: #000;
}

#newsstand {
  width: 750px;
  margin-top: 12px;
  box-sizing: border-box;
}

.news {
  min-height: 30px;
  height: 342px;
  padding: 12px 15px 11px 15px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
}

.news_logo {
  height: 20px;
}

.group_issue {
  position: relative;
  padding: 12px 15px 13px 15px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  line-height: 24px;
}

.issue_area {
  float: left;
}

.group_issue .link_media {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  position: relative;
  max-width: 89px;
  padding-right: 12px;
  margin-right: 7px;
  font-size: 13px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: -0.3px;
}

.news .group_title {
  padding: 22px 0 16px;
  font-size: 14px;
  line-height: 18px;
}

.list_issue {
  overflow: hidden;
  float: right;
  margin-left: 100px;
  width: 310px;
  height: 24px;
}

.direct-area {
  float: right;
  font-weight: 700;
}

.link_news {
  float: left;
  color: #3565c9;
  height: 24px;
  font-size: 13px;
  text-decoration: none;
}

.link_news:after {
  background-color: #c8ccd1;
  display: inline-block;
  width: 3px;
  height: 3px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;
  content: "";
  margin-left: 8px;
  vertical-align: 3px;
}

.news .group_issue .direct_area .link_direct {
  margin: 0 4px 0 7px;
  color: #202020;
}

.news .group_title .link_newsstand {
  float: left;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

.group_title .set_area {
  float: right;
}



.title_view {
  position: relative;
  height: 260px;
  border: 1px solid #dae1e6;
  border-width: 0 1px;
}

.title_view .frame_area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.group_news {
  position: relative;
  width: 750px;
  height: 258px;
  border: 1px solid #dae1e6;
  border-width: 1px 0;
}

.part_of_group_news {
  position: relative;
  float: left;
  width: 16.66%;
  height: 65px;
}

.thumb {
  display: block;
  padding: 23px 0 22px;
  text-align: center;
}

.popup_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  overflow: hidden;
  padding: 19px 0 18px;
  background-color: #f7f9fa;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.group_news .btn_preview {
  position: absolute;
  left: -27px;
  z-index: 10;
  top: 109px;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-position: 0 -299px;
  background-repeat: no-repeat;
  vertical-align: top;
}

.group_news .btn_next {
  position: absolute;
  right: -52px;
  z-index: 10;
  top: 109px;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-position: -224px -158px;
  background-repeat: no-repeat;
  vertical-align: top;
}

.sort_area {
  float: left;
  margin-left: 10px;
}

.btn_sort:before {
  background-color: #c7ccd1;
  display: inline-block;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;
  content: "";
  margin: 0 8px 0 4px;
  vertical-align: 3px;
}

/*themecast */

.sc_themecast {
  padding: 35px 0 27px;
  letter-spacing: -0.25px;
  height: 500px;
}

.sc_themecast .group_title {
  overflow: hidden;
  padding-bottom: 17px;
}

.sc_themecast .group_title .title_area {
  float: left;
}

.sc_themecast .group_title .title_area .title {
  font-size: 14px;
  color: #000;
}

.sc_themecast .group_title .title_area .dsc {
  margin-left: 8px;
  color: gray;
}

.sc_themecast .group_title .info_area {
  float: right;
}

.sc_themecast .group_title .info_area .info {
  color: grey;
}

.sc_themecast .group_title .info_area .new {
  color: #000;
}

.sc_themecast .group_title .info_area .btn_set {
  position: relative;
  margin-left: 14px;
  color: #505050;
}

.sc_themecast .group_title .info_area .btn_set:before {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-position: -444px -168px;
  background-repeat: no-repeat;
  vertical-align: top;
  content: "";
  margin-right: 4px;
  vertical-align: -1px;
  opacity: 0.7;
}

.sc_themecast .group_title .info_area .btn_set:after {
  position: absolute;
  top: 2px;
  left: -8px;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e4e8eb;
}

/* main category */

.sc_themecast .main_category {
  position: relative;
  background-color: #fff;
}

.sc_themecast .main_category:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 1px solid #dae1e6;
}

.sc_themecast .main_category .pm_btn_prev {
  top: 6px;
  left: -23px;
}

.pm_btn_prev {
  position: absolute;
  left: -22px;
  z-index: 10;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: -128px -345px;
  background-repeat: no-repeat;
  vertical-align: top;
}

.pm_btn_next {
  top: 6px;
  right: -18px;
  position: absolute;
  right: -13px;
  z-index: 10;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: -86px -345px;
  background-repeat: no-repeat;
  vertical-align: top;
}

/*list category*/
.sc_themecast .main_category .list_category_wrap {
  overflow: hidden;
}

.sc_themecast .main_category .list_category {
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.sc_themecast .main_category .list_category:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 1px solid #dae1e6;
}

.sc_themecast .main_category .category_item:first-child,
.sc_themecast .main_category .category_item:nth-child(8n + 1) {
  width: 92px;
}

.sc_themecast .main_category .category_item {
  position: relative;
  display: inline-block;
  width: 94px;
  z-index: 1;
  vertical-align: top;
}

.sc_themecast .main_category .tab {
  display: block;
  border-right: 1px solid #dae1e6;
  font-size: 13px;
  line-height: 49px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.sc_themecast .main_category .tab.id_sports[aria-selected="true"] {
  background-color: #0147b5;
  color: #fff;
}