#header{
    position: relative;
    background-color: #fff;
    z-index: 2000;
    height: 300px;
    border-bottom: 1px solid #e4e8eb;
    flex-direction: column;
    overflow:auto 

}

#header .logo{
    position: absolute;
    top: 50%;
    margin-top: 40px;
    margin-left: 18%
}
#header .logo_area {
    position: relative;
    height: 100%;
}
#header .logo .logo_naver{
    display: block;
    display: inline-block;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
}

a{
    color: inherit;
    text-decoration: none;
}

#header .service_area .link_set {
    margin-left: 75%;
    float: left;
    font-size: 11px;
    color: #404040;
}

#header .service_area .sa_bar {
    float: left;
    width: 1px;
    height: 10px;
    margin: 3px 7px;
    background-color: #e4e8eb;
}

#header .service_area .link_jrnaver {
    float: left;
}

/* 해피빈 부분*/


#header .service_area .link_happybin {
    float: left;
    margin-left: 6px;
}
#header .service_area .link_happybin .ico_happybin {
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -369px -299px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px;
}

i {
    font-style: normal;
}

/* 검색창 */

#header .search_area {
    position: absolute;
    top: 30%;
    margin-left: 35%;
    border:none;
}


#header .search_area .green_window {
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#header .search_area .input_text {
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline-style: none;
    border:none;
}

#header .search_area .btn_submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    background-color: #19ce60;
    -webkit-border-radius: 0 2px 2px 0;
    border:none;
    cursor: pointer;
}

#header .search_area .btn_submit .ico_search_submit{
    background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png);
    background-size: 457px 434px;
}



/* gnb */
.gnb{ 
width: 100%;
   
}

.gnb-icon{
 margin-right: 9px;
 margin-bottom: -5px;
}
.gnb .group_nav { 
    width: auto;
    overflow: hidden;
    position: relative;
    margin-top: 10%;
    padding: 11px 270px 11px 0;
    
}

.menu{
    
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
    
}
.gnb .group_nav .group_weather {
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    overflow: hidden;
    max-width: 270px;
    height: 52px;
    text-align: right;
}


div{
    min-width: 60px;
}
