#header .search_area .btn_submit .ico_search_submit,
.gnb .list_nav .ico_mail,
.gnb .list_nav .ico_tv,
.ico_jrnaver,
.gnb .list_nav .shop:before,
.gnb .list_nav .shoplive:before,
.logo_default .logo_naver:before,
.gnb .btn_more:after,
.btn_next .ico_btn,
.btn_preview .ico_btn {
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png);
  -webkit-background-size: 457px 434px;
  background-size: 457px 434px;
  background-repeat: no-repeat;
}




/*🌜right🌜*/

.sc_user .info_area .user_thumb:after,
.sc_user .info_area .user_info .link_protect:before,
.sc_user .info_area .user_info .link_nplus {
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_my_c0eba8.png);
  -webkit-background-size: 307px 298px;
  background-size: 307px 298px;
  background-repeat: no-repeat;
}


.btn_preview .ico_btn {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-position: 0 -299px;
  background-repeat: no-repeat;
  vertical-align: top;
}

.btn_next .ico_btn {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-position: -224px -158px;
  background-repeat: no-repeat;
  vertical-align: top;
}